/*
 Theme Name:   Codingate Child Theme
 Theme URI:    http://www.wpbeginner.com/
 Description:  A Codingate child theme 
 Author:       WPBeginner
 Author URI:   http://www.codingate.com
 Template:     Codingate
 Version:      1.0.0
*/
@import url("../Codingate/style.css");

/* Responsive Styles Desktop Only */
@media all and (min-width: 981px) {
	/* Fluid Grid */
	.et_pb_gutters3 .et_pb_column, .et_pb_gutters3.et_pb_row .et_pb_column {
		margin-right: 2.5%;
	}

	.et_pb_gutters3 .et_pb_column_1_2, .et_pb_gutters3.et_pb_row .et_pb_column_1_2 {
	    width: 48.75%;
	}

	.et_pb_gutters3 .et_pb_column_1_3, .et_pb_gutters3.et_pb_row .et_pb_column_1_3 {
	    width: 31.65%;
	}

	.et_pb_gutters3 .et_pb_column_1_4, .et_pb_gutters3.et_pb_row .et_pb_column_1_4 {
	    width: 23.125%;
	}

	.et_pb_gutters3 .et_pb_column_2_3, .et_pb_gutters3.et_pb_row .et_pb_column_2_3 {
	    width: 65.85%;
	}

	.et_pb_gutters3 .et_pb_column_3_4, .et_pb_gutters3.et_pb_row .et_pb_column_3_4 {
	    width: 74.375%;
	}

	.et_pb_row {
	    padding: 14px 0 !important;
	}
}

/* Responsive Styles Tablet And Below */
@media all and (max-width: 980px) {

	.et_pb_column {
		margin-bottom: 28px;
	}

	.et_pb_column:last-child {
	    margin-bottom: 0;
	}

	.et_pb_row, .et_pb_column .et_pb_row_inner {
		padding: 14px 0;
	}

	.et_pb_row_4col > .et_pb_column.et_pb_column_1_4, .et_pb_row_1-4_1-4_1-2 > .et_pb_column.et_pb_column_1_4, .et_pb_row_1-2_1-4_1-4 > .et_pb_column.et_pb_column_1_4, .et_pb_row_1-4_1-4 > .et_pb_column.et_pb_column_1_4 {
	    margin-right: 3.5%;
	    width: 48.25% !important;
	}
}

@media all and (max-width: 600px) {
	.et_pb_row_4col > .et_pb_column.et_pb_column_1_4, .et_pb_row_1-4_1-4_1-2 > .et_pb_column.et_pb_column_1_4, .et_pb_row_1-2_1-4_1-4 > .et_pb_column.et_pb_column_1_4, .et_pb_row_1-4_1-4 > .et_pb_column.et_pb_column_1_4 {
	    margin-right: 5.5%;
	    width: 47.25% !important;
	}
}

#breadcrumbs {
	padding: 40px 0px 0;
}

/*Menu*/
#top-menu li {
	padding-right: 0;
}

.et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation {
	padding-top: 15px;
	padding-bottom: 15px;
}

.et_header_style_left #et-top-navigation nav > ul > li > a {
	padding: 10px 15px;
}

#et_top_search {
	margin-top: 10px;
}

/*Footer*/
#footer-info {
	color: #ffffff;
}

.et-social-icons a:hover {
	opacity: 1;
}

.et-social-facebook a:hover {
	color: #3A579A;
}

.et-social-twitter a:hover {
	color: #00ABF0;
}

.et-social-google-plus a:hover {
	color: #DF4A32;
}

/*Responsive*/
@media (min-width: 981px) {
	.et_header_style_left .et-fixed-header #et-top-navigation,
	.et_header_style_split .et-fixed-header #et-top-navigation {
		padding-top: 15px;
	}
	.et_header_style_left .et-fixed-header #et-top-navigation nav > ul > li > a,
	.et_header_style_split .et-fixed-header #et-top-navigation nav > ul > li > a {
		padding: 10px 15px;
	}

	.et-fixed-header #et_top_search {
		margin-top: 10px;
	}
}

/*
**====================Sitemap===================
*/

#sitemap .children li::before {
    content: "9";
    font-family: "ETmodules";
}

#sitemap .children {
	list-style: none;
}

/*
**====================Spacing=====================
*/

#main-content .container {
	padding-top: 40px;
}

